<footer class="footer">
    <div class="footer__details">
        <div class="footer__details footer__details--logo">
            <div class="footer__details--logo-box">
                {{logo}}
            </div>
        </div>
        <div class="footer__details footer__details--location">
            <span class="footer__details--title">Location</span>
            <span>Manila, Philippines</span>
        </div>
        <div class="footer__details footer__details--contacts">
            <span class="footer__details--title">Contacts</span>
            <span>+63 956 462 8657</span>
            <span>justeinbaldonado@gmail.com</span>
        </div>
        <div class="footer__details footer__details--education">
            <span class="footer__details--title">Education</span>
            <span>University of Caloocan City - Main</span>
        </div>
    </div>
    <div class="break"></div>
    <div class="footer__socials">
        <div class="footer__links">
            <a href="https://www.facebook.com/Justein.baldonado/" class="footer__icons-container"> 
                <img class="footer__icons" src="assets/img/socials/facebook.png"/>
            </a>
            <a href="https://www.instagram.com/justein_baldz/?hl=en" class="footer__icons-container"> 
                <img class="footer__icons" src="assets/img/socials/instagram.png"/>
            </a>
            <a href="https://github.com/justinebaldz" class="footer__icons-container">
                <img class="footer__icons" src="assets/img/socials/github.png"/>
            </a>
            <a href="https://ph.linkedin.com/in/justine-baldonado-68420a1b8?trk=people-guest_people_search-card" class="footer__icons-container">
                <img class="footer__icons" src="assets/img/socials/linkedin.png"/>
            </a>
        </div>
        <div class="footer__tags">
            <p>&copy; 2022. All rights reserved</p>
            <p>Developed by Justine Baldonado</p>
        </div>
    </div>
</footer>