.hero-banner {
    height: 80vh;
    width: 100%;
    min-height: 10rem;
    max-height: 24rem; 

    display: flex;
    align-items: center;
    justify-content: center;

    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: Poppins;
    z-index: 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
    } 

    &--home {
    background-image: url("~src/assets/img/home-profile-cover.png");  
    }

    &--about {
        background-image: url("~src/assets/img/covers/about.jpg");  
    }

    &--projects {
        background-image: url("~src/assets/img/covers/project.jpg");  
    }

    &--contact {
        background-image: url("~src/assets/img/covers/contact.jpg");  
    }

    &__text {
        z-index: 1;
    }
}