<main>
    <header class="header">
        <nav class="header__nav">
            <span class="header__logo">{{ logo }}</span>
            <ul class="header__list">
                <li *ngFor="let item of navItemsArray">
                    <button class="button" (click)="linkClick(item)">
                        {{ item['name'] }}
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    <app-hero-banner></app-hero-banner>
    <router-outlet></router-outlet>
</main>