@import '../../global';

.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: Poppins;
        font-size: 48px;
        font-weight: bold;
        margin-top: 80px;
    }

    &__carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        font-family: Poppins;
    }

    &__button {
        @include bg-dark-secondary;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        border: none;
        outline: none;
        color: #fff;
        font-weight: bold;

        &:hover {
            @include bg-dark-primary;
        }
    }

    &__content {
        width: 500px;
        position: relative;
        float: right;
    }

    &__heading {
        font-size: 24px;
        font-weight: 600;
    }


}